use_poetry() {
  local venv
  venv=$(poetry env info -p)
  if [[ -n "$venv" ]]; then
    export VIRTUAL_ENV="$venv"
    export PATH="$venv/bin:$PATH"
  else
    echo "Poetry environment not found. Did you run 'poetry install'?"
  fi
}

use_poetry

# note the vscode automatically loads .env into the environment
export $(grep -v '^#' .env | xargs -d '\n')
echo Loaded
